.switch-lang {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
  padding-top: 40px;
  font-weight: 600;
  font-weight: 600;
  width: 88px;
}

@media (min-width: 768px) {
}

@media (min-width: 1440px) {
}