@media (min-width: 768px) {
  .header-list__item:nth-child(2) {
    margin-right: 30%;
  }

  .header-list__item:nth-child(6) {
    position: relative;
    margin-left: 3%;
  }

  .header-list__item:nth-child(6)::before {
    content: "";
    position: absolute;
    height: 32px;
    width: 2px;
    background-color: $divider-backgrond;
    top: 4px;
    left: -22px;
  }
}