.modal-feedback__close-button {
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: $button-background;
  top: 32px;
  left: -102px;
  transition: 0.5s;
}

.modal-feedback__close-button:active {
  scale: 0.9;
}

.modal-feedback__close-button:hover {
  box-shadow: 0px 0px 30px 0px $btn-shadow;
}

@media (min-width: 768px) {
  .modal-feedback__close-button {
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: $button-background;
    position: absolute;
    top: 0px;
    left: -92px;
    transition: 0.5s;
  }
}

@media (min-width: 1440px) {
}