.modal-feedback__link {
  color: $button-background;
}

.modal-feedback__link:active {
  color: $button-background;
}

.modal-feedback__link:visited {
  color: $button-background;
}

@media (min-width: 768px) {
}

@media (min-width: 1440px) {
}