.tech-types-swipper__content {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  gap: 20px;
}

.tech-types-swipper__content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media (min-width: 768px) {
  .tech-types-swipper__content {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;
    width: auto;
    overflow: hidden;
    max-height: 176px;
    transition: max-height 0.5s ease-out;
  }
}

@media (min-width: 1440px) {
  .tech-types-swipper__content {
    gap: 16px 32px;
  }
}