.tech-types-swipper__button {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* height: 72px;
  width: 240px !important; */
  background-color: $h2-background;
  border: 1px solid $divider-backgrond;
  border-radius: 6px;
  padding: 16px;
  min-width: 240px;
  height: 160px;
}

@media (min-width: 768px) {
  .tech-types-swipper__button {
    width: 224px;
    margin-right: 0px;
    min-width: 224px;
  }
}

@media (min-width: 1440px) {
  .tech-types-swipper__button {
    min-width: 240px;
  }
}