@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes/TTLakes-Regular.ttf') format('ttf'),
  url('../fonts/TTLakes/TTLakes-Regular.woff') format('woff'),
  url('../fonts/TTLakes/TTLakes-Regular.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes/TTLakes-Bold.ttf') format('ttf'),
  url('../fonts/TTLakes/TTLakes-Bold.woff') format('woff'),
  url('../fonts/TTLakes/TTLakes-Bold.eot') format('eot');
  font-weight: bold;
}

@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes/TTLakes-Medium.ttf') format('ttf'),
  url('../fonts/TTLakes/TTLakes-Medium.woff') format('woff'),
  url('../fonts/TTLakes/TTLakes-Medium.eot') format('eot');
  font-weight: 600;
}
