$button-background: #FF3E79;
$divider-backgrond: #EAEAEA;
$plashka-gackground: #41F6D7;
$text-color: #1B1C21;
$link-color: #7E7E82;
$nav-button-border-color: #B8FFEC;
$block-border-color: #D9FFF5;
$body-background: #F8F8F8;
$h2-background: #FFFFFF;
$botton-header-background-color: white;
$overlay-background: rgba(23, 23, 67, 0.2);
$aside-shadow: rgba(14, 24, 80, 0.2);
$btn-shadow: rgba(255, 62, 121, 0.8);
$subtitle-background: linear-gradient(to right, #F8F8F8, #FFFFFF);
$subtitle-border-color: #D9FFF5;
$placeholder-color: #B5B6BC;
