.modal-callback__link {
  color: $button-background;
}

.modal-callback__link:active {
  color: $button-background;
}

.modal-callback__link:visited {
  color: $button-background;
}

@media (min-width: 768px) {
}

@media (min-width: 1440px) {
}