.overlay-callback {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: $overlay-background;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
  z-index: 500;
  backdrop-filter: blur(5px);
}
